* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  border-bottom: 1px solid lightgray;
}

.app__headerImage {
  background-color: #ffffff;
  padding: 20px;
  object-fit: contain;
}
